global:
  scrape_interval: 15s

scrape_configs:
  - job_name: neuroforge
    metrics_path: /metrics
    static_configs:
      - targets: ['neuroforge:8080']
    authorization:
      credentials: '<METRICS_TOKEN>'
